In [1]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## 문자열 메소드

In [2]:
a = 'hello my name is hong'

In [3]:
print(a)

hello my name is hong

In [4]:
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [5]:
print(a.capitalize())

Hello my name is hong

In [6]:
a.title()

'Hello My Name Is Hong'

In [7]:
a.lower()

'hello my name is hong'

In [8]:
a = a.upper()

In [9]:
print(a)

HELLO MY NAME IS HONG

In [10]:
my_list = ['my', 'name', 'is']
print('!!!'.join(my_list))

my!!!name!!!is

In [11]:
my_string = '        hello    \n  '
# print(my_string)
print(my_string.strip())

my_string2 = '-----------hello--------'
print(my_string2.strip('-'))
print(my_string2.lstrip('-'))
print(my_string2.rstrip('-'))

hello
hello
hello--------
-----------hello

In [12]:
a = 'woooooooow'
a.replace('o', '?', 3)

'w???ooooow'

In [13]:
a = 'apple'
print(a.find('a'))
print(a.find('l'))
print(a.find('z'))

0
3
-1

In [14]:
a = 'apple'
print(a.index('a'))
print(a.index('p'))
print(a.index('z'))

0
1

ValueError: substring not found

In [15]:
a = 'my_name_is_hong'
a.split('_')

['my', 'name', 'is', 'hong']

In [16]:
a = 'wooooooo'
a.count('o')

7

## 리스트 매소드

In [18]:
numbers = [1, 4, 3, 6, 8, 9, 3]

In [19]:
numbers.append(10)
print(numbers)

[1, 4, 3, 6, 8, 9, 3, 10]

In [20]:
a = [99, 100]

numbers.extend(a)
print(numbers)
numbers = numbers + a
print(numbers)

[1, 4, 3, 6, 8, 9, 3, 10, 99, 100]
[1, 4, 3, 6, 8, 9, 3, 10, 99, 100, 99, 100]

In [21]:
numbers.insert(5, -10)
print(numbers)

[1, 4, 3, 6, 8, -10, 9, 3, 10, 99, 100, 99, 100]

In [22]:
# x를 찾아서 제거, 없으면 에러발생
numbers.remove(-10)
print(numbers)

[1, 4, 3, 6, 8, 9, 3, 10, 99, 100, 99, 100]

In [23]:
result = numbers.pop()
print(numbers, result)

result = numbers.pop(0)
print(numbers, result)

[1, 4, 3, 6, 8, 9, 3, 10, 99, 100, 99] 100
[4, 3, 6, 8, 9, 3, 10, 99, 100, 99] 1

In [24]:
numbers.sort()
print(numbers)

numbers.sort(reverse=True)
print(numbers)

[3, 3, 4, 6, 8, 9, 10, 99, 99, 100]
[100, 99, 99, 10, 9, 8, 6, 4, 3, 3]

In [25]:
numbers = [5, 3, 7, 1, 8, 2, 3]

print(sorted(numbers))
print(numbers)

[1, 2, 3, 3, 5, 7, 8]
[5, 3, 7, 1, 8, 2, 3]

In [26]:
my_list = ['b', 'c', 'a', 'e', 'f', 'a']
my_list.sort()
print(my_list)

my_kor = ['가', '나', '가', '라', '나']
my_kor.sort()
print(my_kor)

['a', 'a', 'b', 'c', 'e', 'f']
['가', '가', '나', '나', '라']

In [27]:
print(numbers)
numbers.reverse()
print(numbers)

[5, 3, 7, 1, 8, 2, 3]
[3, 2, 8, 1, 7, 3, 5]

In [28]:
print(numbers)
print(numbers[-2])
print(numbers[::-1])

[3, 2, 8, 1, 7, 3, 5]
3
[5, 3, 7, 1, 8, 2, 3]

## list copy

In [29]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [30]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [31]:
origin_list[0] = 100

In [32]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [33]:
origin_list = [1, 2, 3]
copy_list = origin_list[:]

origin_list[0] = 100

print(origin_list)
print(copy_list)

[100, 2, 3]
[1, 2, 3]

In [34]:
origin_list = [   1,     2,      [3, 4]    ]
copy_list = origin_list[:]

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [300, 4]]

In [35]:
import copy
origin_list = [1, 2, [3, 4]]
copy_list = copy.deepcopy(origin_list)

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [3, 4]]

## list comprehension

In [36]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
# => [1, 8, 27 ... 1000]
result = []
for number in numbers:
    temp = number ** 3
    result.append(temp)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [38]:
result = [number ** 3 for number in numbers]
# result = [number1 ** 3, number2 ** 3, number3 ** 3.........]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [39]:
# 짝수만 고르기
result = []

for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[2, 4, 6, 8, 10]

In [40]:
result = [number for number in numbers if number % 2 == 0]
print(result)

[2, 4, 6, 8, 10]

In [41]:
# 연습! 모음제거
words = 'my name is hong'

# => my nm s hng

In [42]:
# 1. for / if
# vowels = ['a', 'e', 'i', 'o', 'u']
vowels = 'aeiou'
result = []
for char in words:
    if char not in vowels:
        # 모음인경우 => 자음인경우
        result.append(char)
    # else:
        # 자음인경우 => 모음인경우
        # result.append(char)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [43]:
# 2. list comprehension
vowels = 'aeiou'

result = [char for char in words if char not in vowels]
print(''.join(result))

my nm s hng

In [44]:
''.join([char for char in words if char not in vowels])

'my nm s hng'

In [45]:
# 3. replace 메소드 활용
vowels = 'aeiou'

for char in vowels:
    words = words.replace(char, '')

print(words)

my nm s hng

## dictionary 메소드

In [46]:
info = {
    'name': 'hong',
    'locaion': 'seoul',
    'age': 20,
    'models': ['iphone', 'mac Book', 'watch'],
    'phone_book': {
        'kim': '010-1234-1234',
        'lee': '010-4567-4567',
    }
}

In [51]:
print(info['name'])
print(info['age'])
print(info['models'][0]) #리스트 안에있는 것은 인덱스로 접근
print(info['phone_book']['kim'])

hong
20
iphone
010-1234-1234

In [54]:
info['name'] = 'park'
print(info)

info.update(name='oh')
print(info)

{'name': 'park', 'locaion': 'seoul', 'age': 20, 'models': ['iphone', 'mac Book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}}
{'name': 'oh', 'locaion': 'seoul', 'age': 20, 'models': ['iphone', 'mac Book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}}

In [55]:
age = info.pop('age') #pop은 내가 원하는 데이터를 꺼내오고 원하는 데이터 할당
print(info, age)

{'name': 'oh', 'locaion': 'seoul', 'models': ['iphone', 'mac Book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}} 20

In [57]:
info.get('name')
print(info['name'])

oh

In [61]:
print(info['birth'])

KeyError: 'birth'

In [62]:
print(info.get('birth'))

None

In [82]:
# 연습문제
blood_type = ['A', 'B', 'B', 'O', 'AB', 'A', 'O','C']

In [83]:
# => blood_dict = { 'A':2, 'B':.....}

result = {
    'A':0,
    'B':0,
    'O':0,
    'AB':0,
}

for blood in blood_type:
    result[blood] += 1

print(result)

KeyError: 'C'

In [94]:
locations = ['서울', '부산', '대전', '강릉', '서울', 'LA', '도쿄']

result = {}
for location in locations:
    #result의 키에 location이 있으면
    if result.get(location):
        result[location] += 1
    #result의 키에 loacation이 없으면
    else:
        result[location] = 1
    
print(result)

{'서울': 2, '부산': 1, '대전': 1, '강릉': 1, 'LA': 1, '도쿄': 1}

In [102]:
locations = ['서울', '부산', '대전', '강릉', '서울', 'LA', '도쿄']

result = {}
for location in locations:
    result.update({location: locations.count(location)})

print(result)

{'서울': 2, '부산': 1, '대전': 1, '강릉': 1, 'LA': 1, '도쿄': 1}

In [104]:
locations = ['서울', '부산', '대전', '강릉', '서울', 'LA', '도쿄']

print(set(locations)) #set - 중복 허용x

{'서울', '도쿄', '대전', 'LA', '강릉', '부산'}

## dict comprehension

In [106]:
#{1:1, 2:8, 3:27,...10:1000}

result= {}
numbers = list(range(1,11))

for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [109]:
result = {number: number ** 3 for number in numbers}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [110]:
dust = {
    '서울':50,
    '대전':100,
    '부산':70,
    '광주':90,
}

#result = {'대전': 100, '광주':90}

#1번 for문 방식

result= {}

for key, value in dust.items(): #items함수 사용하면 key, value 같이 돌릴  수 있음
    if value > 70:
        result[key] = value

print(result)

{'대전': 100, '광주': 90}

In [114]:
#2번 comprehension 방식
#k= key, v= value

result = {k: v for k, v in dust.items() if v >70}
print(result)

{'대전': 100, '광주': 90}

In [116]:
result = {k: '나쁨' for k, v in dust.items() if v >70} #value에 '나쁨'이라는 직접적인 데이터 넣기도 가능
print(result)

{'대전': '나쁨', '광주': '나쁨'}

## 세트 메소드

In [154]:
fruits = {'apple', 'banana', 'melon', 'apple'} #set는 중복값 X

In [155]:
print(fruits)

{'apple', 'banana', 'melon'}

In [156]:
fruits.add('watermelon')  #.add = 데이터 추가하는 방법
print(fruits)

{'apple', 'watermelon', 'banana', 'melon'}

In [157]:
# -> list의 extends와 비슷한 역할
fruits.update({'grape'})
print(fruits)

{'apple', 'melon', 'grape', 'watermelon', 'banana'}

In [158]:
fruits.remove('apple')
print(fruits)

{'melon', 'grape', 'watermelon', 'banana'}

In [162]:
fruits.pop() #random하게 한 데이터씩 사라짐
print(fruits)

set()

## map, filter, zip

### map
- map(function, inerable) -> 함수, 범위

In [168]:
numbers = [1,2,3,4,5]

# -> numbers를 전부 글자로 바꾸고 싶다 ['1', '2', '3', '4', '5']

result = []
for number in numbers:
    result.append(str(number))

print(result)

['1', '2', '3', '4', '5']

In [174]:
result = map(str, numbers)
print(result)

#<map object at 0x000001FF0ED6A620> -> 메모리 주소

print(list(result)) #list해야 우리 눈에 보임

<map object at 0x000001FF0ED6A620>
['1', '2', '3', '4', '5']

In [175]:
result = []
for number in numbers:
    result.append(number ** 3)
print(result)

[1, 8, 27, 64, 125]

In [176]:
def cube(x):
    return x ** 3

In [177]:
result = map(cube, numbers)
print(list(result))

[1, 8, 27, 64, 125]

In [181]:
test_input = '1 3 5 7 9'

print(list(map(int, test_input.split())))

[1, 3, 5, 7, 9]

### filter
- filter(function, iterable)

In [182]:
def is_odd(x):
    return x % 2

In [184]:
numbers = [ 1, 2, 3, 4, 5]

result= []
for number in numbers:
    if number % 2:
        result.append(number)

print(result)

[1, 3, 5]

In [186]:
result = filter(is_odd, numbers) #함수에는 true or false값이 들어와야함
print(list(result))

[1, 3, 5]

### zip

In [187]:
#배열 두 개 합할 때 사용

a = [ 1, 2, 3]
b = [100, 200, 300, 400]

result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x000001FF0FF69BC0>
[(1, 100), (2, 200), (3, 300)]