# Error

## Syntax error

In [4]:
if True:
    pass
else
    pass

SyntaxError: expected ':' (2011801023.py, line 3)

In [8]:
print('hello

SyntaxError: unterminated string literal (detected at line 1) (3259792019.py, line 1)

In [10]:
if True print('hi')

SyntaxError: invalid syntax (3767511997.py, line 1)

## exception

문법적으로는 맞는데 기대와 다른 이상한 행동을 할 때

In [13]:
print(5/0)

ZeroDivisionError: division by zero

In [14]:
print(hello)

NameError: name 'hello' is not defined

In [15]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [20]:
import random

random.sample([1, 2, 3, 4, 5])

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [21]:
random.sample([1, 2, 3, 4, 5], 1, 2, 3, 4, 5, 6)

TypeError: Random.sample() takes 3 positional arguments but 8 were given

In [23]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [24]:
numbers = [1,2,3]
numbers.index(100)

ValueError: 100 is not in list

In [25]:
numbers[100]

IndexError: list index out of range

In [26]:
my_dict = {
    'apple' : '사과',
    'banana' : '바나나',
}

In [28]:
my_dict['melon']

KeyError: 'melon'

In [30]:
import pandas

ModuleNotFoundError: No module named 'pandas'

## 예외처리

```python
try: 
    code
except 예외:
    code
```

In [39]:
try:
    num = int(input('숫자를 입력해주세요: '))  #input은 무조건 문자 형태의 string을 받음(숫자X)
    print(f'{num}의 세제곱은 {num ** 3}입니다.')
except:
    print('숫자를 입력하라고!!!!!!!!!!!!')

숫자를 입력해주세요:  ㅇ라

숫자를 입력하라고!!!!!!!!!!!!

In [46]:
try:
    num = int(input('100을 무엇으로 나누시겠습니까?'))
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except ValueError:
    print('입력한 데이터는 숫자가 아닙니다.')
except ZeroDivisionError:
    print('모든 수는 0으로 나눌 수 없습니다.')

100을 무엇으로 나누시겠습니까? 30

100을 30으로 나누면 3.3333333333333335입니다.

In [49]:
try:
    my_list = [1, 2, 30]
    print(my_list[100])
except IndexError as err:
    print(err)

list index out of range

In [54]:
#else -> 예외를 일으키지 않을 때 실행되는 코드

try:
    numbers = [1, 2, 3]
    num = numbers[100]
except:
    print('오류입니다')
else:
    print(num ** 3)

오류입니다

In [56]:
#finally -> 예외와 상관없이 try의 모든 코드 실행 후 무조건 실행
try:
    numbers = [1, 2, 3]
    num = numbers[2]
except:
    print('오류입니다')
finally:
    print('end')

end

In [66]:
def my_div(num1, num2):
    try:
        return num1 / num2
    except (TypeError, ValueError):
        return '숫자를 입력하세요'
    except ZeroDivisionError:
        return '0으로 나눌 수 없습니다'
    except:
        return '무엇인가 잘못되었어요'

In [67]:
print(my_div('2', 'q'))

숫자를 입력하세요